@font-face {
	font-family: "Inter";
	src:
		local("Inter Medium"),
		local("Inter-Medium"),
		url("/fonts/inter/Inter-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src:
		local("JetBrains Mono Regular"),
		local("JetBrainsMono-Regular"),
		url("/fonts/jetbrains/JetBrainsMono-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src:
		local("JetBrains Mono Italic"),
		local("JetBrainsMono-Italic"),
		url("/fonts/jetbrains/JetBrainsMono-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src:
		local("JetBrains Mono Medium"),
		local("JetBrainsMono-Medium"),
		url("/fonts/jetbrains/JetBrainsMono-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src:
		local("JetBrains Mono Medium Italic"),
		local("JetBrainsMono-MediumItalic"),
		url("/fonts/jetbrains/JetBrainsMono-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src:
		local("JetBrains Mono SemiBold"),
		local("JetBrainsMono-SemiBold"),
		url("/fonts/jetbrains/JetBrainsMono-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src:
		local("JetBrains Mono SemiBold Italic"),
		local("JetBrainsMono-SemiBoldItalic"),
		url("/fonts/jetbrains/JetBrainsMono-SemiBoldItalic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src:
		local("JetBrains Mono Bold"),
		local("JetBrainsMono-Bold"),
		url("/fonts/jetbrains/JetBrainsMono-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src:
		local("JetBrains Mono Bold Italic"),
		local("JetBrainsMono-BoldItalic"),
		url("/fonts/jetbrains/JetBrainsMono-BoldItalic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
