.slidev-layout {
	position: relative;
	/* total content offset from edges: 1rem (outside) + 1rem (inside) */
	padding: 2rem;
	height: 100%;
	color: var(--color);
}

/* бордер для всех слайдов */
.slidev-layout::before {
	content: "";
	position: absolute;
	top: 1rem;
	right: 1rem;
	bottom: 1rem;
	left: 1rem;
	border: 1px solid var(--border-color);
	pointer-events: none;
}

/* нумерация (кроме cover / первой) */
.slide-number {
	position: absolute;
	right: 1.5rem;
	bottom: 1.2rem;
	font: var(--font-pagination);
	letter-spacing: var(--font-pagination-letter-spacing);
	color: var(--color);
	opacity: 0.8;
}
